<div class="product">
  <img class="productImage" src="assets/img/products/{{ product.productImagePath }}">
  <div class="productText">
    <h3 class="product-title">Product naam: {{ product.productName }}</h3>
    <div class="product-price">Product prijs: <span class="price">€ {{ product.productPrice }}</span></div>
    <div class="amount">Aantal: {{ ammount }}</div>
  </div>
  <div class="right">
    <div class="delete btn btn-danger" (click)="deleteItem()"><img src="assets/delete.png" class="delete-img">&nbsp;Verwijder</div>
    <div class="totalPrice">Totale prijs:  <span class="price">€ {{ product.productPrice * ammount }}</span></div>
  </div>
</div>
<hr class="break">
