.product {
  width: 500px;
}

.productText {
  margin-left: 50px;
  float: left;
  width: 600px;
  height: 200px;
}

.product-title {
  margin-top: 0;
}

.product-price {
  padding-top: 20px;
  font-size: 2em;
  color: #e45353;
  display: inline;
  float: left;
}

.productImage {
  width: 400px;
  float: left;
}

.break {
  display: block;
  width: 100%;
  float: left
}
