.more-info {
  float: left;
  margin-top: 5px;
  text-decoration: underline;
  font-size: 1.2em;
  width: 100%;
}

.productText {
  margin-left: 50px;
  float: left;
  width: 600px;
  height: 200px;
}

.product-title {
  padding-top: 10px;
  display: inline;
}

.product-add {
  width: 50px;
  float: right;
  cursor: pointer;
}

.product-price {
  padding-top: 20px;
  font-size: 2em;
  color: #e45353;
  display: inline;
  float: left;
}

.productImage {
  width: 400px;
  float: left;
}

.product-description {
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  font-size: 1.2em;
  margin-top: 10px;
}

.break {
  display: block;
  width: 100%;
  float: left
}

.gray {
  filter: brightness(30%);
}

.edit-button {
  float: right;
  font-size: 1.3em;
}
