<div class="background"></div>
<div class="container">
  <div class="entryNav">
    <button class="navbar-btn">Login</button>
    <button class="navbar-btn">Register</button>
  </div>
  <div class="entry">
    <div class="login">
      <div class="input">
        <label>E-mail</label>
        <input placeholder="E-mail" class="input-lg">
      </div>
      <div class="input">
        <label>Password</label>
        <input placeholder="Password" type="password" class="input-lg">
      </div>
      <div class="input" id="loginInp">
        <input type="button" value="Login" class="loginButton">
      </div>
    </div>
  </div>
</div>
