<div class="background"></div>
<div class="products">
  <div *ngIf="products.length >= 1">
    <h2 class="title">U heeft {{ products.length }} item<span *ngIf="products.length != 1">s</span> in uw winkelwagen</h2>
    <hr class="break">
    <div class="product-item" *ngFor="let product of products">
      <app-shopping-product [products]="products" [product]="product" [ammount]="productAmmounts[product.productId]"></app-shopping-product>
    </div>
    <div class="total-cost">Totaal af te rekenen: €{{ getTotalPrice() }}</div>
    <br>
    <button *ngIf="accountService.isLoggedIn()" class="btn-primary order" (click)="order()">Bestel producten</button>
    <div class="text-danger login" *ngIf="!accountService.isLoggedIn()">Log in om af te rekenen</div>
  </div>
  <div class="empty products" *ngIf="products.length < 1">
    <h2 class="title">Uw winkelwagen is leeg!</h2>
    <hr class="break">
    <img src="assets/img/empty-cart.png">
  </div>
</div>
