<div class="edit-product">
  <div class="product-details">
    <form class="login" [formGroup]="productForm">
      <input type="hidden" formControlName="productId">
      <label>
        <span class="text-left">Afbeelding</span>
        <input required placeholder="Afbeelding URL" class="input-lg input" formControlName="productImagePath">
        <img class="productImage" src="{{ productForm.value.productImagePath }}">
      </label>
      <label>
        <span class="text-left">Naam</span>
        <input required placeholder="Naam" class="input-lg input" formControlName="productName">
      </label>
      <label>
        <span class="text-left">Prijs</span>
        <input required placeholder="€100" class="input-lg input price" formControlName="productPrice">
      </label>
      <label>
        <span class="text-left">Beschrijving</span>
        <textarea required placeholder="Beschrijving" class="input-lg description"
                  formControlName="productDesc"></textarea>
      </label>
      <br>
    </form>
  </div>
</div>
<div class="footer">
  <button class="btn-primary" (click)="save()">Opslaan</button>
  <button class="btn-warning" (click)="close()">Anuleer</button>
  <button *ngIf="isEditing" class="btn-danger delete" (click)="delete()">Verwijder</button>
</div>
