.product-details {
  height: calc(100% - 100px)
}

.footer {
  height: 100px;
}

.productImage {
  width: 400px;
  padding-right: 100px;
  float: right;
}

.description {
  width: 90%;
  height: 300px;
}

.input {
  width: 400px;
}

form label {
  display: block;
}


label span {
  display: block;
  font-size: 1.3em;
}
