.product-details {
  /*height: 100%;*/
}

.footer {
  border-top: 1px solid lightgrey;
  position: absolute;
  bottom: 10px;
  width: 100%;
  padding: 15px;
  background-color: white;
}

.footer button {
  font-size: 1.4em;
  margin-right: 50px;
  width: 150px;
  height: 40px;
}

.productImage {
  width: 400px;
  padding-right: 100px;
  float: right;
}

.description {
  width: 90%;
  height: 300px;
}

.input {
  width: 400px;
}

.price {
  width: 200px;
}

form label {
  display: block;
}

label span {
  display: block;
  font-size: 1.3em;
}

.edit-product {
  position: relative;
  height: 752px;
}
