<nav class="container">

  <div class="row">
    <div class="col-md-2 text-center">
      <div *ngIf="accountService.isLoggedIn()" class="text-info welcomeMessage">Welkom Stefan@gmail.com</div>
    </div>
    <div class="col-md-2 text-center nav-wrapper">
      <div class="nav-item" routerLink="home">Home</div>
    </div>
    <div class="col-md-2 text-center nav-wrapper">
      <div class="nav-item" routerLink="products">Producten</div>
    </div>
    <div class="col-md-2 text-center nav-wrapper">
      <div class="nav-item" routerLink="cart">Shopping cart
        <div class="cart-items">{{ shoppingcartService.itemCount() }}</div>
      </div>
    </div>
    <div class="col-md-2 text-center nav-wrapper">
      <div *ngIf="!accountService.isLoggedIn()" class="nav-item" routerLink="login">Login/registreer</div>
      <div *ngIf="accountService.isLoggedIn()" class="nav-item" (click)="logout()">Log uit</div>
    </div>
    <div class="col-md-2 text-center">
    </div>
  </div>
</nav>
