<nav class="container">
  <div class="row">
    <div class="col-md-2 text-center">
    </div>
    <div class="col-md-2 text-center">
      <div class="nav-item" (click)="clickNavigation('home')">Home</div>
    </div>
    <div class="col-md-2 text-center">
      <div class="nav-item" (click)="clickNavigation('products')">Products</div>
    </div>
    <div class="col-md-2 text-center">
      <div class="nav-item" (click)="clickNavigation('shopping-card')">Shopping card</div>
    </div>
    <div class="col-md-2 text-center">
      <div class="nav-item" (click)="clickNavigation('login')">Login/register</div>
    </div>
    <div class="col-md-2 text-center">
    </div>
  </div>
</nav>
