<nav class="container">
  <div class="row">
    <div class="col-md-2 text-center">
    </div>
    <div class="col-md-2 text-center">
      <div class="nav-item" (click)="clickNavigation('home')">Home</div>
    </div>
    <div class="col-md-2 text-center">
      <div class="nav-item" (click)="clickNavigation('products')">Products</div>
    </div>
    <div class="col-md-2 text-center">
      <div *ngIf="!isAdmin()" class="nav-item" (click)="clickNavigation('shopping-cart')">Shopping cart
        <div [hidden]="!shoppingcartService.hasItems()" class="cart-items">{{ shoppingcartService.itemCount() }}</div>
      </div>
      <div *ngIf="isAdmin()" class="nav-item" (click)="clickNavigation('shopping-cart')">Admin page</div>
    </div>
    <div class="col-md-2 text-center">
      <div class="nav-item" (click)="clickNavigation('login')">Login/register</div>
    </div>
    <div class="col-md-2 text-center">
    </div>
  </div>
</nav>
