<div class="mainShot">
  <h1 class="title">Drone Shop</h1>
</div>

<div class="shots">
  <div class="shot shot1">
    <h1>Kwaliteit</h1>
    <div class="image left"></div>
    <div class="text left">
      Wij verkopen drones van de hoogste kwaliteit van Europa.
      Hierdoor garenderen wij dan ook dat u tevreden bent met uw aankoop als u hier uw drone besteld.
    </div>
  </div>

  <div class="shot shot2">
    <h1 class="right-title">Gemak</h1>
    <div class="image right"></div>
    <div class="text right">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fermentum felis ut sodales volutpat.
      Phasellus pellentesque lacus lectus, in elementum elit interdum eu. Etiam cursus cursus quam.
    </div>
  </div>

  <div class="midroll midroll1"></div>

  <div class="shot shot3">
    <h1>Duurzaamheid</h1>
    <div class="image left"></div>
    <div class="text left">
      Suspendisse vitae magna ipsum. Fusce semper lectus turpis, sit amet mattis tortor dapibus quis. In rutrum libero neque, ac tempor velit tincidunt in.
      Quisque ex nisl, lobortis ac odio vel, venenatis efficitur sem. Curabitur mollis tellus erat, eget iaculis ante pretium eu.
    </div>
  </div>

  <div class="shot shot4">
    <h1 class="right-title">Lang vliegen</h1>
    <div class="image right"></div>
    <div class="text right">
      Suspendisse vitae magna ipsum. Fusce semper lectus turpis, sit amet mattis tortor dapibus quis. In rutrum libero neque, ac tempor velit tincidunt in.
      Quisque ex nisl, lobortis ac odio vel, venenatis efficitur sem. Curabitur mollis tellus erat, eget iaculis ante pretium eu.
    </div>
  </div>
</div>


