<div class="mainShot">
  <h1 class="title">Drone Shop</h1>
</div>

<div class="shots">
  <div class="shot shot1">
    <h1>Kwaliteit</h1>
    <div class="image left"></div>
    <div class="text left">
      Wij verkopen drones van de hoogste kwaliteit van Europa.
      Hierdoor garenderen wij dan ook dat u tevreden bent met uw aankoop als u hier uw drone besteld.
    </div>
  </div>

  <div class="shot shot2">
    <h1 class="right-title">Gemak</h1>
    <div class="image right"></div>
    <div class="text right">
      Wij bieden een ruime collectie drones voor zowel consumenten als bedrijven.
      Het aanbod is onderverdeeld in drones voor recreatief,
      luchtopnames, droneracing en professioneel gebruik.
    </div>
  </div>

  <div class="midroll midroll1"></div>

  <div class="shot shot3">
    <h1>Reparatie</h1>
    <div class="image left"></div>
    <div class="text left">
      De technische dienst van ons is gespecialieerd in de reparatie van drones.
      Vraag een gratis schade-inventarisatie aan
      zodat u weet waar u aan toe bent voordat u uw drone (of accessoire) opstuurt.
    </div>
  </div>

  <div class="shot shot4">
    <h1 class="right-title">Experts</h1>
    <div class="image right"></div>
    <div class="text right">
      Wij zijn de nummer 1 leverancier van drones in de Benelux.
      Onze experts helpen u graag met informatie over drones voor
      luchtopnames, droneracing en professionele toepassingen.
    </div>
  </div>
</div>


